<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <form action="/Parcels" method="post">
      <label for="width">Add a new item</label>
      <input id="width" name="width" type="text">
      <label for="length">Add a new item</label>
      <input id="length" name="length" type="text">
      <label for="heigth">Add a new item</label>
      <input id="heigth" name="heigth" type="text">
      <label for="weight">Add a new item</label>
      <input id="weight" name="weight" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>